// reset
@import 'reset.scss';

// base
$white: #fff;
$mt: 0.6rem;
$br: 50%;
$fs: 0.32rem;
$ff: sans-serif;

@mixin size {
	width: 100%;
	height: 100%;
}

@mixin bg($url) {
	background-image: url($url);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

@mixin pos {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
}

@mixin db($w, $h) {
	display: inline-block;
	width: $w;
	height: $h;
}

@mixin wh($w, $h) {
	width: $w;
	height: $h;
}


html, body {
	@include size;
	overflow: hidden;
	font-size: $fs;
}

.clearfix:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

.ts {
	text-shadow: 0 0 4px $white,0 0 12px $white;
	-webkit-text-shadow: 0 0 4px $white,0 0 12px $white;
	font-family: $ff;
}

.tsr {
	font-size: $fs * 1.2;
	font-family: $ff;
	color: #fb7bc0;
	text-shadow: 0 0 6px $white;
	-webkit-text-shadow: 0 0 6px $white;
}

.tsb {
	font-size: $fs * 1.3;
	font-family: $ff;
	color: #b1e9ff;
	text-shadow: 0 0 6px #9FE4FF,0 0 16px #9FE4FF;
	-webkit-text-shadow: 0 0 6px #9FE4FF,0 0 16px #9FE4FF;
}

.bs {
	-webkit-box-shadow: 0 0 6px $white,0 0 8px $white;
	box-shadow: 0 0 6px $white,0 0 8px $white;
}

.usn {
	-webkit-user-select: none;
	user-select: none;
}

.op {
	opacity: 0.3;
}

.table {
	display: table;
}

.tr {
	// display: table-row;
	@include wh(100%, 1.16rem);
}

.td {
	display: table-cell;
	vertical-align: middle;
	// width: auto;
	text-align: center;
	height: 1.16rem;
}

.textl {
	text-align: left;
}

.textr {
	text-align: right;
}
// common
.you {
	@include bg("../assets/p6/you.png");
}

.ageTip {
	@include pos;
	@include size;
	background:rgba(0,0,0,0.8);
	z-index: 9;
	.ageMask {
		display: inline-block;
		width: 5.56rem;
		height: 5.85rem;
		background: #020946;
		margin-top: -0.2rem;
		p {
			text-align: center;
			font-size: 22px;
			letter-spacing: 0.03rem;
			line-height: 0.8rem;color:#fff
		}
		.confirm {
			display: inline-block;
			width: 3.9rem;
			height: 1.49rem;
			@include bg('../assets/confirm.png');
		}
		.tip {
			display: inline-block;
			width: 1.35rem;
			height: 0.2rem;
			@include bg('../assets/tip.png');
		}
		p:nth-of-type(1) {
			margin-top: $mt * 1.5;
		}
	}
}

.start {
	@include size;
	@include pos;
	@include bg("../assets/gif/222.gif");
	z-index: 7;
	// display: none;
	.lt {
		@include db(6.4rem, 5.08rem);
		margin-top: $mt;
	}
	.cp {
		@include db(4.12rem, 1.64rem);
		margin-top: $mt * 1.4;
	}
	.checkRank {
		@include db(2.33rem, 0.76rem);
		margin-top: $mt * 0.4;
	}
}
.nickname {
	font-size: $fs;
	color: $white;
	margin-top: $mt * 0.4;
	height: 0.42rem;
}
.verify {
	@include size;
	@include pos;
	@include bg("../assets/bgm.jpg");
	z-index: 6;
	// display: none;
	.t {
		@include db(5.22rem, 4.12rem);
		// margin-top: $mt;
	}
	.skeleton {
		@include db(2.8rem, 2.8rem);
		border-radius: $br;
		border: 2px solid $white;
		margin-top: -$mt;
		img {
			@include db(2.8rem, 2.8rem);
			border-radius: $br;
		}
	}
	.fp {
		@include db(2.15rem, 1.93rem);
		@include bg("../assets/p2/fp.png");
		margin-top: $mt * 0.6;
	}
}

.theme {
	@include size;
	@include pos;
	@include bg("../assets/bgm.jpg");
	// background: #3C4556;
	z-index: 5;
	// display: none;
	.t {
		@include db(5.22rem, 3.93rem);
		img {
			@include size;
		}
	}
	.flash {
		position: relative;
		@include db(6.4rem, 3rem);
		// margin-top: $mt * 1.2;
		.left, .right {
			@include wh(0.6rem, 0.8rem);
			position: absolute;
			top: 1rem;
			z-index: 2;
			&:before, &:after {
				content: '';
				@include wh(0.5rem, 0.06rem);
				display: block;
				position: absolute;
				top: 0.4rem;
				background: #fff;
				border-radius: 3px;
				-webkit-box-shadow: 0 0 6px #fff,0 0 8px #fff;
				box-shadow: 0 0 6px #fff,0 0 8px #fff;
				-webkit-transform-origin: 0 50%;
				transform-origin: 0 50%;
			}
		}
		.left {
			left: 0.28rem;
			&:before {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				top: 0.44rem;
			}
		}
		.right {
			right: 0.28rem;
			&:before {
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				-webkit-transform-origin: 100% 50%;
				transform-origin: 100% 50%;
			}
			&:after {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				-webkit-transform-origin: 100% 50%;
				transform-origin: 100% 50%;
				top: 0.44rem;
			}
		}
	}
	.th1 {
		@include db(4.51rem, 2.91rem);
		img {
			@include size;
		}
	}
	.sn {
		@include db(4.14rem, 1.62rem);
		margin-top: $mt;
		img {
			@include size;
		}
	}
}

.improve {
	@include size;
	@include pos;
	// border: 0.12rem solid $white;
	padding: 0.12rem;
	background: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 4;
	// display: none;
	.inner {
		@include size;
		background-color: #3C4556;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.logo {
		@include db(0.95rem, 0.8rem);
		display: block;
		margin: 0 auto;
		img {
			@include size;
			position: relative;
			top: -$mt * 0.2;
		}
	}
	.s_c {
		@include db(4.2rem, 4.2rem);
		// margin-top: $mt * 0.12;
		.skeleton {
			@include db(1.2rem, 1.2rem);
			border-radius: $br;
			margin-top: -$mt * 1.2;
			img {
				@include size;
				border-radius: $br;
			}
		}
		.nickname {
			font-size: $fs * 0.8;
			height: 0.3rem;
			margin-top: $mt * 0.2;
		}
	}
	.text {
		@include db(4.51rem*0.66, 2.91rem*0.66);
		z-index: 2;
		position: relative;
		img {
			@include size;
		}
	}
	.value {
		font-size: $fs * 0.8;
		color: $white;
		margin-top: $mt * 0.2;
	}
	.score {
		text-align: center;
		font-size: $fs * 1.4;
		margin-top: $mt * 0.2;
	}
	.scene {
		@include size;
		background: #3C4556;
		margin-top: -$mt;
		img {
			width: 100%;
			height: auto;
		}
	}
	.spr {
		@include db(2.96rem, 1.18rem);
		margin-top: $mt * 0.1;
		// display: none;
		img {
			@include size;
		}
	}
	.share_btns {
		@include db(5.76rem, 1.19rem);
		li {
			float: left;
			@include db(2.88rem, 1.19rem);
			img {
				@include size;
			}
		}
	}
}
.shake_tip {
	@include size;
	@include pos;
	background: rgba(0, 2, 23, 0.9);
	z-index: 4;
	// display: none;
	.shake img {
		@include db(3.42rem, 3.48rem);
		margin-top: $mt * 4.6;
	}
}
.share_float {
	@include size;
	@include pos;
	background: rgba(0, 0, 0, 0.9);
	z-index: 99;
	display: none;
	.share {
		@include db(0.97rem, 3.95rem);
		position: absolute;
		top: 64px;
		right: 16px;
	}
	.arr {
		@include db(0.5rem, 0.3rem);
		position: absolute;
		top: 0px;
		right: 14px;
	}
}

.rank {
	@include size;
	@include pos;
	@include bg("../assets/bgm.jpg");
	z-index: 3;
	// display: none;
	.t {
		@include db(5.45rem, 3.23rem);
		// margin-top: $mt;
		img {
			@include size;
		}
	}
	.list {
		@include wh(100%, 5.8rem);
		color: $white;
		margin-top: -$mt * 1.6;
		.td1 {
			width: 1.74rem;
		}
		.td2 {
			width: 1.3rem;
			img {
				@include wh(0.8rem, 0.8rem);
				display: block;
				margin: 0 auto;
				border-radius: $br;
				border: 1px solid $white;
				-webkit-box-shadow: 0 0 6px $white,0 0 8px $white;
				box-shadow: 0 0 6px $white,0 0 10px $white;
			}
		} 
		.td3 {
			width: 1.98rem;
			text-align: left;
			// padding-left: 8px;
			span {
				display: inline-block;
				width: 1.92rem;
				padding-left: 0.06rem;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.td4 {
			width: 1.2rem;
			text-align: right;
			padding-right: 20px;
		}
	}
	.tbts {
		width: 5.72rem;
		margin: $mt * 0.3 auto 0;
		img {
			float: left;
			display: block;
			height: 1.18rem;
		}
		.gc img {
			width: 2.87rem;
		}
		.sp img {
			width: 2.85rem;
		}
	}
}

.getcoupon {
	@include size;
	@include pos;
	@include bg("../assets/bgm.jpg");
	z-index: 1;
	// display: none;
	.submit {
		@include size;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: none;
		.t {
			@include db(4.8rem, 1.88rem);
			margin-top: $mt * 2;
			img {
				@include size;
			}
		}
		form {
			margin-top: $mt;
			input {
				@include db(3.17rem, 0.58rem);
				display: block;
				@include bg("../assets/p7/b.png");
				font-size: $fs * 1.125;
				padding: 0.16rem 0.24rem;
				color: $white;
				text-align: center;
				-webkit-box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.3);
				box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.3);
			}
			div {
				@include db(3.65rem, 0.9rem);
				display: block;
				margin: 0 auto 0.2rem;
				&.tel {
					@include bg("../assets/p7/tel.png");
				}
				&.code {
					position: relative;
					.num {
						@include db(1.43rem, 0.9rem);
						@include bg("../assets/p7/num.png");
						display: block;
						float: left;
					}
					input {
						@include db(0.95rem, 0.58rem);
						@include bg("../assets/p7/s.png");
						display: block;
					}
					.getCode {
						font-size: $fs;
						letter-spacing: 0.02rem;
						color: #b54c80;
						@include db(2.02rem, 0.9rem);
						display: block;
						line-height: 1rem;
						background: $white;
						border-radius: 3px;
						float: left;
						margin-left: 0.2rem;
						-webkit-box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.3);
						box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.3);
					}
				}
			}
			.submit-tel {
				@include bg("../assets/p7/ld.png");
				@include db(4.08rem, 1.59rem);
				margin-top: $mt * 1.8;
			}
		}
	}
	.success {
		z-index: 2;
		display: none;
		.coupon {
			@include db(4.87rem, 4.81rem);
			margin-top: $mt * 2;
			img {
				@include size;
			}
		}
		.gn {
			@include db(4.14rem, 1.62rem);
			margin-top: $mt * 2;
			img {
				@include size;
			}
		}
	}
	.fail {
		z-index: 2;
		display: none;
		.sorry {
			@include db(2.9rem, 1.28rem);
			margin-top: $mt * 3.2;
			img {
				@include size;
			}
		}
		.pa {
			@include db(4.01rem, 1.49rem);
			margin-top: $mt * 2;
			img {
				@include size;
			}
		}
	}
}